on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create App Bundle

jobs:
  bundle:
    name: Bundle on ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-16.04, macos-latest, windows-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pyinstaller
          python -m pip install click
      - name: Install wxPython dependency on Windows/Mac
        if: runner.os != 'Linux'
        run: |
          python -m pip install wxpython
          python -m pip freeze
      - name: Install wxPython dependency n Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install python-wxgtk3.0
          python -m pip freeze
      - name: Create and Build Bundle
        run: pyinstaller --clean main.spec
      - name: Upload Artifact for Linux
        uses: actions/upload-artifact@v2
        if: runner.os == 'Linux'
        with:
          name: loguetools-${{ runner.os }}
          path: "**/dist/**"
      - name: Upload Artifact for MacOS
        uses: actions/upload-artifact@v2
        if: runner.os == 'MacOS'
        with:
          name: loguetools-${{ runner.os }}
          path: "**/dist/**"
      - name: Upload Artifact for Windows
        uses: actions/upload-artifact@v2
        if: runner.os == 'Windows'
        with:
          name: loguetools-${{ runner.os }}
          path: "**/dist/**"
